
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-1-wc9 {
  flex-direction: column;
  background-color: #fbfcfd;
  box-sizing: border-box;
  padding-bottom: 8.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .navigation-desktop-01-emT {
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 9.2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    border: solid 0.1rem #e2e8ef;
    background-color: #fbfcfd;
    padding: 2.4rem 7rem;
    width: 100%;

    .logo-m5P {
      margin: 0.2rem 62rem 0.202rem 0rem;
      height: calc(100% - 0.4024rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .flash-H3j {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5495rem;
        width: 3.9505rem;
        height: 3.9976rem;
        position: relative;
      }
      .together-sign-language-CwP {
        font-size: 2.4rem;
        font-weight: 400;
        letter-spacing: 0.048rem;
        font-family: ABeeZee, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.0024rem;
        line-height: 0.8333333333;
        color: #000000;
        flex-shrink: 0;
      }
    }
    .links--u57 {
      flex-shrink: 0;
      margin-right: 1.6rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      .button-Saq {
        box-sizing: border-box;
        padding: 1.2rem;
        width: 9.6rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .master-button-nub {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .about-9VF {
            letter-spacing: 0.032rem;
            font-family: Archivo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.6rem;
            line-height: 1.25;
            color: #000000;
            white-space: nowrap;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .icon-r-sAM {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .button-bMF {
        width: 10.6rem;
        white-space: nowrap;
        display: flex;
        border-radius: 0.8rem;
        font-size: 1.6rem;
        justify-content: center;
        flex-shrink: 0;
        overflow: hidden;
        font-weight: 500;
        letter-spacing: 0.032rem;
        font-family: Archivo, 'Source Sans Pro';
        align-items: center;
        height: 100%;
        position: relative;
        line-height: 1.25;
        color: #000000;
      }
      .button-tbF {
        font-weight: 500;
        line-height: 1.25;
        border-radius: 0.8rem;
        overflow: hidden;
        position: relative;
        letter-spacing: 0.032rem;
        white-space: nowrap;
        font-size: 1.6rem;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        width: 8.4rem;
        height: 100%;
        font-family: Archivo, 'Source Sans Pro';
        display: flex;
      }
    }
    .buttons-HtH {
      width: 4.8rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .button-FKK {
        height: 100%;
        overflow: hidden;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: 0.032rem;
        font-family: Archivo, 'Source Sans Pro';
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #b794f4;
        white-space: nowrap;
        position: relative;
        border-radius: 0.4rem;
        justify-content: center;
        box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
        color: #fcf9ff;
      }
    }
  }
  .hero-4nZ {
    width: 140.7999rem;
    height: 85rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .icon-chat-24-outline-QbX {
      height: 5.5rem;
      position: absolute;
      left: 28rem;
      top: 16.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.4rem;
    }
    .icon-assistive-listening-systems-24-outline-icD {
      object-fit: contain;
      vertical-align: top;
      width: 7.0757rem;
      height: 6.5899rem;
      position: absolute;
      left: 18.3rem;
      top: 15.8rem;
    }
    .item--2so {
      letter-spacing: 0.032rem;
      color: rgba(0, 0, 0, 0.6000000238);
      font-family: Archivo, 'Source Sans Pro';
      height: 4.8rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      width: 59.5rem;
      position: absolute;
      left: 7.2rem;
      top: 43.8rem;
    }
    .this-is-a-test-for-pluginnnnnnnn-WAh {
      line-height: 1.25;
      font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
      width: 44rem;
      position: absolute;
      left: 7.2rem;
      font-size: 6.4rem;
      height: 16rem;
      top: 25rem;
      font-weight: 800;
      color: #0c0e14;

      .this-is-a-test-for-pluginnnnnnnn-WAh-sub-0 {
      }
      .this-is-a-test-for-pluginnnnnnnn-WAh-sub-1 {
        line-height: 1.25;
        color: #b794f4;
        font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 800;
      }
    }
    .image-2-2wf {
      vertical-align: top;
      width: 37.9rem;
      height: 37.8rem;
      position: absolute;
      left: 84.1rem;
      top: 19.1rem;
      object-fit: cover;
    }
    .icon-winking-facewink-faceblinkhappysmileemojismile-squint-wink-alt-24-outline-MU9 {
      height: 6.8rem;
      position: absolute;
      left: 9rem;
      top: 16rem;
      object-fit: contain;
      vertical-align: top;
      width: 6.7rem;
    }
    .background-vector-psX {
      height: 85rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 140.7999rem;
    }
    .button-Y2q {
      left: 7.2rem;
      background-color: #b794f4;
      border-radius: 0.8rem;
      height: 9.4247rem;
      position: absolute;
      width: 52.3rem;
      top: 61.3073rem;
      overflow: hidden;
      box-sizing: border-box;
      padding: 3.612rem 10.95rem 3.612rem 18.5rem;

      .master-button-mwB {
        box-sizing: border-box;
        padding: 0.08rem 0rem 0.12rem 0rem;
        width: 100%;
        height: 100%;
        font-size: 3rem;
        color: #ffffff;
        font-family: Archivo, 'Source Sans Pro';
        font-weight: 500;
        line-height: 0.6666666667;
        letter-spacing: 0.06rem;
        white-space: nowrap;
      }
    }
  }
}
