
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-1-2g1 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fbfcfd;
  box-sizing: border-box;
  padding-bottom: 1.5rem;

  .navigation-desktop-01-xZf {
    border: solid 0.1rem #e2e8ef;
    background-color: #fbfcfd;
    flex-shrink: 0;
    width: 100%;
    height: 9.2rem;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    padding: 2.4rem 7rem;
    overflow: hidden;
    display: flex;

    .logo-58V {
      flex-shrink: 0;
      margin: 0.2rem 80.1rem 0.202rem 0rem;
      height: calc(100% - 0.4024rem);
      display: flex;
      align-items: center;

      .flash-Ciu {
        height: 3.9976rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5495rem;
        width: 3.9505rem;
      }
      .item--jyj {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 0.8333333333;
        color: #000000;
        white-space: nowrap;
        margin-top: 0.0024rem;
        letter-spacing: 0.048rem;
        font-family: Gmarket Sans TTF, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .links--1wF {
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 1.6rem;
      height: 100%;
      overflow: hidden;

      .button-AZF {
        width: 9.6rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem;

        .master-button-i4y {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .about-G6V {
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.6rem;
            font-size: 1.6rem;
            line-height: 1.25;
            letter-spacing: 0.032rem;
            color: #000000;
            font-family: Archivo, 'Source Sans Pro';
          }
          .icon-r-PS1 {
            flex-shrink: 0;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .button-6LR {
        display: flex;
        justify-content: center;
        border-radius: 0.8rem;
        width: 10.6rem;
        letter-spacing: 0.032rem;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.25;
        overflow: hidden;
        font-family: Archivo, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 500;
      }
      .button-Bcm {
        position: relative;
        font-weight: 500;
        align-items: center;
        border-radius: 0.8rem;
        width: 8.4rem;
        display: flex;
        color: #000000;
        font-family: Archivo, 'Source Sans Pro';
        flex-shrink: 0;
        overflow: hidden;
        font-size: 1.6rem;
        letter-spacing: 0.032rem;
        white-space: nowrap;
        justify-content: center;
        height: 100%;
        line-height: 1.25;
      }
    }
    .buttons-Ubs {
      position: relative;
      flex-shrink: 0;
      width: 7.4rem;
      height: 100%;
      overflow: hidden;

      .button-S2u {
        padding: 1.2rem;
        position: relative;
        height: 100%;
        overflow: hidden;
        box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
        background-color: #b794f4;
        border-radius: 0.4rem;
        box-sizing: border-box;
        width: 100%;

        .master-button-CGy {
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;

          .try-Mff {
            margin-right: 0.6rem;
            font-size: 1.6rem;
            letter-spacing: 0.032rem;
            flex-shrink: 0;
            white-space: nowrap;
            font-weight: 500;
            line-height: 1.25;
            color: #fcf9ff;
            font-family: Archivo, 'Source Sans Pro';
          }
          .icon-r-Gnd {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .hero-6Wm {
    width: 140.7999rem;
    height: 85rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .icon-chat-24-outline-qjF {
      left: 28rem;
      top: 16.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.4rem;
      height: 5.5rem;
      position: absolute;
    }
    .icon-assistive-listening-systems-24-outline-y4m {
      height: 6.5899rem;
      position: absolute;
      left: 18.3rem;
      top: 15.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 7.0757rem;
    }
    .item--5tV {
      width: 52.5rem;
      position: absolute;
      line-height: 1.5;
      font-family: Archivo, 'Source Sans Pro';
      font-weight: 400;
      letter-spacing: 0.032rem;
      color: rgba(0, 0, 0, 0.6000000238);
      height: 4.8rem;
      left: 7.2rem;
      top: 43.2rem;
      font-size: 1.6rem;
    }
    .item--m93 {
      top: 25rem;
      font-size: 6.4rem;
      font-family: Archivo, 'Source Sans Pro';
      width: 49.8rem;
      height: 16rem;
      position: absolute;
      left: 7.2rem;
      font-weight: 700;
      line-height: 1.25;
      color: #0c0e14;

      .item--m93-sub-0 {
        font-family: NanumSquare Neo, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 800;
        line-height: 1.25;
        color: #0c0e14;
      }
      .item--m93-sub-1 {
        color: #b794f4;
        font-family: NanumSquare Neo, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 800;
        line-height: 1.25;
      }
      .item--m93-sub-2 {
        font-family: NanumSquare Neo, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 800;
        line-height: 1.25;
        color: #0c0e14;
      }
      .item--m93-sub-3 {
        font-size: 6.4rem;
        font-weight: 800;
        line-height: 1.25;
        color: #b794f4;
        font-family: NanumSquare Neo, 'Source Sans Pro';
      }
    }
    .image-2-yRT {
      width: 37.9rem;
      height: 37.8rem;
      position: absolute;
      left: 84.1rem;
      top: 19.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .icon-winking-facewink-faceblinkhappysmileemojismile-squint-wink-alt-24-outline-6ky {
      object-fit: contain;
      vertical-align: top;
      width: 6.7rem;
      height: 6.8rem;
      position: absolute;
      left: 9rem;
      top: 16rem;
    }
    .background-vector-bhj {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 140.7999rem;
      height: 85rem;
      position: absolute;
    }
    .button-wmb {
      box-sizing: border-box;
      padding: 2.674rem 11rem 2.674rem 16.4rem;
      height: 8.7472rem;
      background-color: #b794f4;
      border-radius: 0.8rem;
      width: 52.3rem;
      position: absolute;
      left: 7.2rem;
      top: 56.9rem;
      overflow: hidden;

      .master-button-STT {
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-right: 2.2rem;
        width: 100%;

        .item--PNh {
          font-size: 3rem;
          font-weight: 500;
          line-height: 0.6666666667;
          letter-spacing: 0.06rem;
          color: #ffffff;
          margin-right: 3.6rem;
          font-family: Archivo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-rqzs-6H7 {
          width: 4.8rem;
          height: 3.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
