
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.landing-example--Txu {
  box-sizing: border-box;
  padding-bottom: 28.6rem;
  overflow: hidden;
  align-items: center;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fbfcfd;

  .hero-mcD {
    margin-bottom: 4rem;
    width: 100%;
    height: 85rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .background-vector-fr1 {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 140.7999rem;
      height: 85rem;
    }
    .hero-wireframe-desktop-18-P1K {
      align-items: center;
      width: 137rem;
      height: 85rem;
      position: absolute;
      left: 7rem;
      top: 0;
      overflow: hidden;
      display: flex;

      .auto-group-ckzf-hGu {
        width: 66.2rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .auto-group-sbxw-qtu {
          top: 30.1rem;
          width: 52.5rem;
          height: 37.7rem;
          position: absolute;
          left: 0;

          .text-AwB {
            margin-bottom: 6.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .item--6CZ {
              font-family: Archivo, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              max-width: 49.8rem;
              font-size: 6.4rem;
              font-weight: 700;
              line-height: 1.25;
              color: #0c0e14;

              .item--6CZ-sub-0 {
                font-weight: 800;
                line-height: 1.25;
                color: #0c0e14;
                font-family: NanumSquare Neo, 'Source Sans Pro';
                font-size: 6.4rem;
              }
              .item--6CZ-sub-1 {
                font-size: 6.4rem;
                font-weight: 800;
                line-height: 1.25;
                color: #b794f4;
                font-family: NanumSquare Neo, 'Source Sans Pro';
              }
              .item--6CZ-sub-2 {
                font-size: 6.4rem;
                font-weight: 800;
                line-height: 1.25;
                color: #0c0e14;
                font-family: NanumSquare Neo, 'Source Sans Pro';
              }
              .item--6CZ-sub-3 {
                font-family: NanumSquare Neo, 'Source Sans Pro';
                font-size: 6.4rem;
                font-weight: 800;
                line-height: 1.25;
                color: #b794f4;
              }
            }
            .item--U8Z {
              flex-shrink: 0;
              max-width: 52.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.032rem;
              color: rgba(0, 0, 0, 0.6000000238);
              font-family: Archivo, 'Source Sans Pro';
            }
          }
          .button-wgM {
            position: relative;
            align-items: center;
            justify-content: center;
            border-radius: 0.4rem;
            line-height: 0.6666666667;
            color: #fcf9ff;
            white-space: nowrap;
            box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
            width: 48.6rem;
            letter-spacing: 0.06rem;
            font-family: NanumSquare Neo, 'Source Sans Pro';
            display: flex;
            height: 9rem;
            overflow: hidden;
            font-size: 3rem;
            font-weight: 700;
            background-color: #b794f4;
          }
        }
        .icon-assistive-listening-systems-24-outline-wpm {
          left: 10.9rem;
          top: 19.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 7.0757rem;
          height: 6.5899rem;
          position: absolute;
        }
        .icon-chat-24-outline-FKf {
          width: 5.4rem;
          height: 5.5rem;
          position: absolute;
          left: 22.2rem;
          top: 19.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .icon-winking-facewink-faceblinkhappysmileemojismile-squint-wink-alt-24-outline-NfB {
          vertical-align: top;
          width: 6.7rem;
          height: 6.8rem;
          position: absolute;
          left: 0;
          top: 19.4rem;
          object-fit: contain;
        }
      }
      .screen-3WR {
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .image-Qbs {
          border-radius: 4rem 0 4rem 4rem;
          width: 70.8rem;
          height: 85rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .hero-7mB {
    flex-shrink: 0;
    margin-bottom: 4rem;
    box-sizing: border-box;
    padding: 39.1rem 51.5rem 9.8rem 51.4rem;
    width: 100%;
    height: 85rem;
    overflow: hidden;
    position: relative;

    .hero-wireframe-desktop-18-cxq {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      row-gap: 4.7rem;
      display: flex;
      flex-direction: column;

      .button-9hs {
        box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
        border-radius: 0.4rem;
        letter-spacing: 0.048rem;
        font-family: NanumSquare Neo, 'Source Sans Pro';
        margin-left: 0.1rem;
        width: 41rem;
        height: 8.9rem;
        position: relative;
        font-size: 2.4rem;
        font-weight: 700;
        justify-content: center;
        flex-shrink: 0;
        line-height: 0.8333333333;
        color: #fcf9ff;
        white-space: nowrap;
        display: flex;
        background-color: #b794f4;
        overflow: hidden;
        align-items: center;

        .button-9hs-sub-0 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
          color: #f3dda5;
          font-family: NanumSquare Neo, 'Source Sans Pro';
        }
        .button-9hs-sub-1 {
          color: #fcf9ff;
          font-family: NanumSquare Neo, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
        }
      }
      .button-xYq {
        display: flex;
        box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
        background-color: #b794f4;
        border-radius: 0.4rem;
        flex-shrink: 0;
        height: 8.9rem;
        position: relative;
        line-height: 0.8333333333;
        overflow: hidden;
        white-space: nowrap;
        align-items: center;
        letter-spacing: 0.048rem;
        color: #fcf9ff;
        font-family: NanumSquare Neo, 'Source Sans Pro';
        justify-content: center;
        width: 41rem;
        font-size: 2.4rem;
        font-weight: 700;

        .button-xYq-sub-0 {
          color: #f3dda5;
          font-family: NanumSquare Neo, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
        }
        .button-xYq-sub-1 {
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: NanumSquare Neo, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
        }
        .button-xYq-sub-2 {
          color: #fcf9ff;
          font-family: NanumSquare Neo, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
        }
      }
      .button-wZB {
        flex-shrink: 0;
        color: #fcf9ff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        overflow: hidden;
        font-family: NanumSquare Neo, 'Source Sans Pro';
        box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
        background-color: #b794f4;
        width: 41rem;
        line-height: 0.8333333333;
        letter-spacing: 0.048rem;
        align-items: center;
        border-radius: 0.4rem;
        height: 8.9rem;
        position: relative;
        font-size: 2.4rem;
        font-weight: 700;

        .button-wZB-sub-0 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
          color: #f3dda5;
          font-family: NanumSquare Neo, 'Source Sans Pro';
        }
        .button-wZB-sub-1 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
          color: #ffffff;
          font-family: NanumSquare Neo, 'Source Sans Pro';
        }
        .button-wZB-sub-2 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
          color: #fcf9ff;
          font-family: NanumSquare Neo, 'Source Sans Pro';
        }
        .button-wZB-sub-3 {
        }
        .button-wZB-sub-4 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: 0.048rem;
          color: #fcf9ff;
          font-family: NanumSquare Neo, 'Source Sans Pro';
        }
      }
    }
  }
  .hero-Fbo {
    margin-bottom: 4rem;
    width: 100%;
    height: 85rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .hero-wireframe-desktop-18-o7X {
      width: 70.8rem;
      height: 85rem;
      position: absolute;
      left: 73.2rem;
      top: 0;
      overflow: hidden;

      .screen-j1B {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
      }
    }
    .hero-wireframe-desktop-19-HYV {
      width: 144rem;
      height: 85rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;

      .screen-RPo {
        width: 70.8rem;
        height: 85rem;
        position: absolute;
        left: 73.2rem;
        top: 0;
        overflow: hidden;
      }
      .hero-wireframe-desktop-18-mTf {
        position: absolute;
        left: 73.2rem;
        top: 0;
        overflow: hidden;
        width: 70.8rem;
        height: 85rem;

        .screen-Uss {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      .content-qTX {
        padding: 8.4rem 44.65rem 8rem 44.65rem;
        height: 40rem;
        background-size: 100% 100%;
        background-position: center;
        left: 7rem;
        border: solid 0.1rem #a1aebf;
        background-image: url('REPLACE_IMAGE:28d6c0bce609ea1f4e957a0d6fa0cc7db3aefe79');
        top: 8rem;
        display: flex;
        background-repeat: no-repeat;
        border-radius: 0.4rem;
        flex-direction: column;
        box-sizing: border-box;
        width: 130rem;
        position: absolute;
        align-items: center;

        .icon-house-24-outline-X5T {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4336rem;
          width: 4.1656rem;
          height: 4.1664rem;
        }
        .block-content-2-3Zb {
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .text-Q9F {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 4.4rem 3.2rem 4.4rem;
            width: calc(100% - 8.8rem);

            .item--jBX {
              font-family: NanumSquare Neo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.6rem;
              font-size: 4rem;
              font-weight: 700;
              color: #0c0e14;
              text-align: center;
              line-height: 1.4;
              flex-shrink: 0;
            }
            .try-changing-the-text-to-sign-language-Pms {
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.032rem;
              color: rgba(0, 0, 0, 0.6000000238);
              font-family: Archivo, 'Source Sans Pro';
              text-align: center;
              font-size: 1.6rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .button-wrapper-horizontal-Vpu {
            width: 100%;
            height: 5.2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .input-qds {
              border: solid 0.1rem #0c0e14;
              box-sizing: border-box;
              background-color: #fbfcfd;
              border-radius: 0.4rem;
              flex-shrink: 0;
              margin-right: 1.6rem;
              width: 32rem;
              height: 100%;

              .content-np1 {
                box-sizing: border-box;
                padding: 1.6rem 1.2rem;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                border-radius: 0.8rem;

                .left-part-Kow {
                  width: 9.5rem;
                  overflow: hidden;
                  font-weight: 400;
                  display: flex;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  line-height: 1.25;
                  align-items: center;
                  margin-right: 18.1rem;
                  height: 100%;
                  font-family: NanumSquare Neo, 'Source Sans Pro';
                  white-space: nowrap;
                  position: relative;
                  letter-spacing: 0.032rem;
                  color: #0c0e14;
                  justify-content: center;
                }
                .right-part-D8d {
                  width: 2rem;
                  height: 100%;
                  overflow: hidden;
                  position: relative;
                  flex-shrink: 0;
                }
              }
            }
            .button-v33 {
              background-color: #b794f4;
              flex-shrink: 0;
              width: 7.1rem;
              height: 100%;
              position: relative;
              font-size: 1.6rem;
              justify-content: center;
              font-weight: 700;
              font-family: NanumSquare Neo, 'Source Sans Pro';
              display: flex;
              align-items: center;
              overflow: hidden;
              line-height: 1.25;
              color: #fcf9ff;
              white-space: nowrap;
              border-radius: 0.4rem;
              letter-spacing: 0.032rem;
              box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
            }
          }
        }
      }
      .button-hCD {
        box-sizing: border-box;
        height: 4.4rem;
        left: 0;
        box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
        border-radius: 0.4rem;
        background-color: #b794f4;
        padding: 1.2rem;
        width: 10rem;
        position: absolute;
        top: 0;
        overflow: hidden;

        .master-button-RP7 {
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;

          .home-y9j {
            margin-right: 0.6rem;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.032rem;
            line-height: 1.25;
            color: #fcf9ff;
            font-family: Archivo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .icon-r-tXb {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .hero-desktop-15-PDT {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 79.8rem;

    .button-jYD {
      box-sizing: border-box;
      padding: 1.2rem;
      width: 10rem;
      height: 4.4rem;
      top: 0;
      background-color: #b794f4;
      position: absolute;
      left: 0;
      overflow: hidden;
      box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
      border-radius: 0.4rem;

      .master-button-Go3 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .home-ddb {
          margin-right: 0.6rem;
          font-size: 1.6rem;
          line-height: 1.25;
          letter-spacing: 0.032rem;
          color: #fcf9ff;
          font-family: Archivo, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 500;
          white-space: nowrap;
        }
        .icon-r-N5P {
          flex-shrink: 0;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .hero-wireframe-desktop-18-4yo {
      overflow: hidden;
      width: 137rem;
      height: 85rem;
      position: absolute;
      left: 7rem;
      top: 0;

      .screen-PWH {
        overflow: hidden;
        width: 70.8rem;
        height: 85rem;
        position: absolute;
        left: 66.2rem;
        top: 0;
      }
      .content-XcV {
        box-sizing: border-box;
        position: absolute;
        background-repeat: no-repeat;
        border: solid 0.1rem #a1aebf;
        background-position: center;
        left: 0;
        top: 11.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 8.4rem 50.25rem 8rem 50.25rem;
        width: 130rem;
        height: 40rem;
        background-size: 100% 100%;
        border-radius: 0.4rem;
        background-image: url('REPLACE_IMAGE:28d6c0bce609ea1f4e957a0d6fa0cc7db3aefe79');

        .icon-house-24-outline-ctq {
          width: 4.1656rem;
          height: 4.1664rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.0336rem;
        }
        .block-content-2-7Ko {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .text-3z9 {
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .item--oTX {
              line-height: 1.4;
              color: #0c0e14;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              text-align: center;
              font-size: 4rem;
              font-weight: 700;
              font-family: NanumSquare Neo, 'Source Sans Pro';
            }
            .try-changing-the-voice-to-sign-language-tE5 {
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              letter-spacing: 0.032rem;
              color: rgba(0, 0, 0, 0.6000000238);
              font-family: Archivo, 'Source Sans Pro';
              line-height: 1.5;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .button-ach {
            box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
            background-color: #b794f4;
            border-radius: 0.4rem;
            margin: 0 8.9rem;
            box-sizing: border-box;
            padding: 1.6rem 2rem;
            width: calc(100% - 17.8rem);
            overflow: hidden;
            flex-shrink: 0;
            height: 5.6rem;
            position: relative;

            .master-button-JHo {
              box-sizing: border-box;
              padding: 0.1rem 0.4rem 0.1rem 0rem;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .item--EBT {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.25;
                letter-spacing: 0.032rem;
                margin-right: 2.2rem;
                color: #fcf9ff;
                font-family: NanumSquare Neo, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .icon-mic-24-outline-8nd {
                width: 1.6rem;
                height: 2.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
  .hero-desktop-16-AzD {
    width: 100%;
    height: 79.8rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    .button-KcD {
      box-sizing: border-box;
      padding: 1.2rem;
      height: 4.4rem;
      left: 0;
      background-color: #b794f4;
      border-radius: 0.4rem;
      width: 10rem;
      position: absolute;
      top: 0;
      overflow: hidden;
      box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));

      .master-button-GGZ {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .home-R9T {
          letter-spacing: 0.032rem;
          color: #fcf9ff;
          line-height: 1.25;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: Archivo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.6rem;
        }
        .icon-r-M37 {
          flex-shrink: 0;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .hero-wireframe-desktop-18-4TK {
      width: 137rem;
      height: 85rem;
      position: absolute;
      left: 7rem;
      top: 0;
      overflow: hidden;

      .screen-z65 {
        width: 70.8rem;
        height: 85rem;
        position: absolute;
        left: 66.2rem;
        top: 0;
        overflow: hidden;
      }
      .content-Ku3 {
        left: 0;
        flex-direction: column;
        width: 130rem;
        background-image: url('REPLACE_IMAGE:28d6c0bce609ea1f4e957a0d6fa0cc7db3aefe79');
        border-radius: 0.4rem;
        height: 40rem;
        position: absolute;
        top: 11.8rem;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        padding: 8.4rem 49.05rem 8rem 49.05rem;
        display: flex;
        border: solid 0.1rem #a1aebf;
        background-size: 100% 100%;

        .icon-house-24-outline-EWD {
          width: 4.1656rem;
          height: 4.1664rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.0336rem;
        }
        .block-content-2-mW9 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;

          .text-XER {
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .item--5Wq {
              font-size: 4rem;
              color: #0c0e14;
              font-family: NanumSquare Neo, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
              font-weight: 700;
              line-height: 1.4;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
            }
            .try-to-recognize-sign-language-movements-aCh {
              text-align: center;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.032rem;
              color: rgba(0, 0, 0, 0.6000000238);
              font-family: Archivo, 'Source Sans Pro';
              font-size: 1.6rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .button-tDP {
            flex-shrink: 0;
            padding: 1.6rem 0rem 1.6rem 2.1rem;
            height: 5.6rem;
            overflow: hidden;
            position: relative;
            background-color: #b794f4;
            margin: 0 10.35rem;
            box-sizing: border-box;
            width: calc(100% - 20.7rem);
            box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
            border-radius: 0.4rem;

            .master-button-137 {
              align-items: center;
              box-sizing: border-box;
              padding: 0.1rem 0.4rem 0.1rem 0rem;
              width: 9.6rem;
              height: 100%;
              display: flex;

              .item--vfs {
                line-height: 1.25;
                color: #fcf9ff;
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: 0.032rem;
                font-family: NanumSquare Neo, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 3.6rem;
                text-align: center;
              }
              .icon-mic-24-outline-RsX {
                width: 1.6rem;
                height: 2.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}
