
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.landing-example--Txu {
  box-sizing: border-box;
  padding-bottom: 28.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fbfcfd;
}
.landing-example--Txu .hero-mcD {
  margin-bottom: 4rem;
  width: 100%;
  height: 85rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.landing-example--Txu .hero-mcD .background-vector-fr1 {
  width: 140.7999rem;
  height: 85rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K {
  width: 137rem;
  height: 85rem;
  position: absolute;
  left: 7rem;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu {
  width: 66.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu {
  width: 52.5rem;
  height: 37.7rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu .text-AwB {
  margin-bottom: 6.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu .text-AwB .item--6CZ {
  margin-bottom: 1.6rem;
  max-width: 49.8rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c0e14;
  font-family: Archivo, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu .text-AwB .item--6CZ .item--6CZ-sub-0 {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.25;
  color: #0c0e14;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu .text-AwB .item--6CZ .item--6CZ-sub-1 {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.25;
  color: #b794f4;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu .text-AwB .item--6CZ .item--6CZ-sub-2 {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.25;
  color: #0c0e14;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu .text-AwB .item--6CZ .item--6CZ-sub-3 {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.25;
  color: #b794f4;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu .text-AwB .item--U8Z {
  max-width: 52.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.032rem;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Archivo, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .auto-group-sbxw-qtu .button-wgM {
  width: 48.6rem;
  height: 9rem;
  overflow: hidden;
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.6666666667;
  letter-spacing: 0.06rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .icon-assistive-listening-systems-24-outline-wpm {
  width: 7.0757rem;
  height: 6.5899rem;
  position: absolute;
  left: 10.9rem;
  top: 19.5rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .icon-chat-24-outline-FKf {
  width: 5.4rem;
  height: 5.5rem;
  position: absolute;
  left: 22.2rem;
  top: 19.8rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .auto-group-ckzf-hGu .icon-winking-facewink-faceblinkhappysmileemojismile-squint-wink-alt-24-outline-NfB {
  width: 6.7rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 19.4rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .screen-3WR {
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.landing-example--Txu .hero-mcD .hero-wireframe-desktop-18-P1K .screen-3WR .image-Qbs {
  width: 70.8rem;
  height: 85rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 4rem 0 4rem 4rem;
}
.landing-example--Txu .hero-7mB {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 39.1rem 51.5rem 9.8rem 51.4rem;
  width: 100%;
  height: 85rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 4.7rem;
  display: flex;
  flex-direction: column;
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-9hs {
  margin-left: 0.1rem;
  width: 41rem;
  height: 8.9rem;
  overflow: hidden;
  position: relative;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-9hs .button-9hs-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #f3dda5;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-9hs .button-9hs-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-xYq {
  width: 41rem;
  height: 8.9rem;
  overflow: hidden;
  position: relative;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-xYq .button-xYq-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #f3dda5;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-xYq .button-xYq-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-xYq .button-xYq-sub-2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-wZB {
  width: 41rem;
  height: 8.9rem;
  overflow: hidden;
  position: relative;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-wZB .button-wZB-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #f3dda5;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-wZB .button-wZB-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #ffffff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-wZB .button-wZB-sub-2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-wZB .button-wZB-sub-3 {
}
.landing-example--Txu .hero-7mB .hero-wireframe-desktop-18-cxq .button-wZB .button-wZB-sub-4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 0.048rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
}
.landing-example--Txu .hero-Fbo {
  margin-bottom: 4rem;
  width: 100%;
  height: 85rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-18-o7X {
  width: 70.8rem;
  height: 85rem;
  position: absolute;
  left: 73.2rem;
  top: 0;
  overflow: hidden;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-18-o7X .screen-j1B {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV {
  width: 144rem;
  height: 85rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .screen-RPo {
  width: 70.8rem;
  height: 85rem;
  position: absolute;
  left: 73.2rem;
  top: 0;
  overflow: hidden;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .hero-wireframe-desktop-18-mTf {
  width: 70.8rem;
  height: 85rem;
  position: absolute;
  left: 73.2rem;
  top: 0;
  overflow: hidden;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .hero-wireframe-desktop-18-mTf .screen-Uss {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX {
  box-sizing: border-box;
  padding: 8.4rem 44.65rem 8rem 44.65rem;
  width: 130rem;
  height: 40rem;
  position: absolute;
  left: 7rem;
  top: 8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #a1aebf;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/content-bg-QZP.png');
  border-radius: 0.4rem;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .icon-house-24-outline-X5T {
  margin-bottom: 1.4336rem;
  width: 4.1656rem;
  height: 4.1664rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .text-Q9F {
  margin: 0rem 4.4rem 3.2rem 4.4rem;
  width: calc(100% - 8.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .text-Q9F .item--jBX {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  color: #0c0e14;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .text-Q9F .try-changing-the-text-to-sign-language-Pms {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.032rem;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Archivo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .button-wrapper-horizontal-Vpu {
  width: 100%;
  height: 5.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .button-wrapper-horizontal-Vpu .input-qds {
  margin-right: 1.6rem;
  width: 32rem;
  height: 100%;
  border: solid 0.1rem #0c0e14;
  box-sizing: border-box;
  background-color: #fbfcfd;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .button-wrapper-horizontal-Vpu .input-qds .content-np1 {
  box-sizing: border-box;
  padding: 1.6rem 1.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .button-wrapper-horizontal-Vpu .input-qds .content-np1 .left-part-Kow {
  margin-right: 18.1rem;
  width: 9.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.032rem;
  color: #0c0e14;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .button-wrapper-horizontal-Vpu .input-qds .content-np1 .right-part-D8d {
  width: 2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .content-qTX .block-content-2-3Zb .button-wrapper-horizontal-Vpu .button-v33 {
  width: 7.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.032rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .button-hCD {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 10rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .button-hCD .master-button-RP7 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .button-hCD .master-button-RP7 .home-y9j {
  margin-right: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.032rem;
  color: #fcf9ff;
  font-family: Archivo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-Fbo .hero-wireframe-desktop-19-HYV .button-hCD .master-button-RP7 .icon-r-tXb {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT {
  width: 100%;
  height: 79.8rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .button-jYD {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 10rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
}
.landing-example--Txu .hero-desktop-15-PDT .button-jYD .master-button-Go3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.landing-example--Txu .hero-desktop-15-PDT .button-jYD .master-button-Go3 .home-ddb {
  margin-right: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.032rem;
  color: #fcf9ff;
  font-family: Archivo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .button-jYD .master-button-Go3 .icon-r-N5P {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo {
  width: 137rem;
  height: 85rem;
  position: absolute;
  left: 7rem;
  top: 0;
  overflow: hidden;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .screen-PWH {
  width: 70.8rem;
  height: 85rem;
  position: absolute;
  left: 66.2rem;
  top: 0;
  overflow: hidden;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV {
  box-sizing: border-box;
  padding: 8.4rem 50.25rem 8rem 50.25rem;
  width: 130rem;
  height: 40rem;
  position: absolute;
  left: 0;
  top: 11.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #a1aebf;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/content-bg.png');
  border-radius: 0.4rem;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .icon-house-24-outline-ctq {
  margin-bottom: 1.0336rem;
  width: 4.1656rem;
  height: 4.1664rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .block-content-2-7Ko {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .block-content-2-7Ko .text-3z9 {
  margin-bottom: 3.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .block-content-2-7Ko .text-3z9 .item--oTX {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  color: #0c0e14;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .block-content-2-7Ko .text-3z9 .try-changing-the-voice-to-sign-language-tE5 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.032rem;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Archivo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .block-content-2-7Ko .button-ach {
  margin: 0 8.9rem;
  box-sizing: border-box;
  padding: 1.6rem 2rem;
  width: calc(100% - 17.8rem);
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .block-content-2-7Ko .button-ach .master-button-JHo {
  box-sizing: border-box;
  padding: 0.1rem 0.4rem 0.1rem 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .block-content-2-7Ko .button-ach .master-button-JHo .item--EBT {
  margin-right: 2.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.032rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-15-PDT .hero-wireframe-desktop-18-4yo .content-XcV .block-content-2-7Ko .button-ach .master-button-JHo .icon-mic-24-outline-8nd {
  width: 1.6rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD {
  width: 100%;
  height: 79.8rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .button-KcD {
  box-sizing: border-box;
  padding: 1.2rem;
  width: 10rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
}
.landing-example--Txu .hero-desktop-16-AzD .button-KcD .master-button-GGZ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.landing-example--Txu .hero-desktop-16-AzD .button-KcD .master-button-GGZ .home-R9T {
  margin-right: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.032rem;
  color: #fcf9ff;
  font-family: Archivo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .button-KcD .master-button-GGZ .icon-r-M37 {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK {
  width: 137rem;
  height: 85rem;
  position: absolute;
  left: 7rem;
  top: 0;
  overflow: hidden;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .screen-z65 {
  width: 70.8rem;
  height: 85rem;
  position: absolute;
  left: 66.2rem;
  top: 0;
  overflow: hidden;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 {
  box-sizing: border-box;
  padding: 8.4rem 49.05rem 8rem 49.05rem;
  width: 130rem;
  height: 40rem;
  position: absolute;
  left: 0;
  top: 11.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #a1aebf;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/content-bg-Uj3.png');
  border-radius: 0.4rem;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .icon-house-24-outline-EWD {
  margin-bottom: 1.0336rem;
  width: 4.1656rem;
  height: 4.1664rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .block-content-2-mW9 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .block-content-2-mW9 .text-XER {
  margin-bottom: 3.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .block-content-2-mW9 .text-XER .item--5Wq {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  color: #0c0e14;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .block-content-2-mW9 .text-XER .try-to-recognize-sign-language-movements-aCh {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.032rem;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Archivo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .block-content-2-mW9 .button-tDP {
  margin: 0 10.35rem;
  box-sizing: border-box;
  padding: 1.6rem 0rem 1.6rem 2.1rem;
  width: calc(100% - 20.7rem);
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 -0.1rem 0.4rem rgba(0, 0, 0, 0.1599999964));
  background-color: #b794f4;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .block-content-2-mW9 .button-tDP .master-button-137 {
  box-sizing: border-box;
  padding: 0.1rem 0.4rem 0.1rem 0rem;
  width: 9.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .block-content-2-mW9 .button-tDP .master-button-137 .item--vfs {
  margin-right: 3.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.032rem;
  color: #fcf9ff;
  font-family: NanumSquare Neo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-example--Txu .hero-desktop-16-AzD .hero-wireframe-desktop-18-4TK .content-Ku3 .block-content-2-mW9 .button-tDP .master-button-137 .icon-mic-24-outline-RsX {
  width: 1.6rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
